@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap");
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .picture {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .nav-list-mob {
    position: fixed;
    top: 50px;
    left: -120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 755px;
    z-index: 9999;
    padding-top: 2rem;
    background-color: rgb(36, 33, 33);
    transition: 0.5s;
  }

  .nav-list-mob.active {
    left: 0;
  }

  .arrow {
    color: white;
    position: relative;
    right: 10rem;
  }

  .nav-list-mob li {
    width: 100%;
    font-size: 25px;
    padding: 20px 0;
    list-style: none;
    border-bottom: 1px solid white;
  }

  .nav-list-mob li a {
    font-size: 27px;
    text-decoration: none;
    color: white;
    line-height: 44px;
    text-align: start;
    font-family: 'Playfair Display', sans-serif;
  }

  .nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(85, 77, 82);
    height: 4rem;
    position: fixed;
    width: 93%;
  }

  .head h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    background-color: #000308;
    padding: 0 10px;
    font-family: 'Playfair Display', sans-serif;
  }

  .bars {
    color: white;
    font-size: 25px;
  }

  .home {
    background-color: rgb(51, 46, 46);
    color: white;
    padding: 10px 1rem;
    padding-top: 4rem;
  }

  .intro h1 {
    font-size: 35px;
    font-family: 'Playfair Display', sans-serif;
  }

  .intro h2 {
    font-size: 27px;
    font-weight: 700;
    font-family: 'Playfair Display', sans-serif;
    color: rgb(102, 102, 233);
  }

  .my-languages {
    color: rgb(102, 102, 233);
  }

  @keyframes wave-animation {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-10deg); }
    40% { transform: rotate(12deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(9deg); }
    100% { transform: rotate(0deg); }
  }
  
  .waving {
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .full-names {
    color: rgb(102, 102, 233);
    font-size: 35px;
  }

  .into-p {
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    padding-bottom: 20px;
  }

  .socials p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #e75b0a;
    font-weight: 700;
  }

  .icons {
    display: flex;
    gap: 10px;
    font-size: 35px;
  }

  .icons img {
    height: 23px;
  }

  .time {
   display: none;
  }

  .quote-p {
   display: none;
  }

  .about {
    padding: 2rem 1rem;
    background-color: #eff2f7;
  }

  .about h2 {
    color: #e75b0a;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    border: 1px solid white;
    background-color: white;
    font-size: 35px;
    margin: 0 -20px;
  }

  .about-left h2 {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #e75b0a;
    max-width: 15rem;
  }

  .details p {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
  }

  .details .stack {
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    color: #e75b0a;
    display: flex;
  }

  .about-right {
    width: 100%;
  }

  .technologies-list {
    margin-left: 20px;
  }

  .list-stacks {
    list-style: none;
    color: rgb(102, 102, 233);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-left: -3.5rem;
    gap: 10px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
  }

.fa-check-circle {
  padding-right: 10px;
  color: #e75b0a;
}

  .icon-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 45px;
    margin-bottom: 30px;
  }

  .resume {
    background-color: #e75b0a;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 7px;
    border-radius: 10px;
    margin: auto;
  }

  .resume .res {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Titillium Web', sans-serif;
  }

  .projects-container {
    width: 100%;
    background-image: url('./components/images/program-bg.png');
    background-size: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .proj-title {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    letter-spacing: normal;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e7f1e1;
    border: 1px solid #ddd;
    z-index: 10;
    border-radius: 2%;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 1rem;
  }

  .image-div img {
    width: 330px;
  }

  .card-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .works-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .clicks li a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 17px;
    font-family: 'Playfair Display', sans-serif;
  }

  .languages .list a {
    text-decoration: none;
    border: 1px solid #8993a4;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
    background-color: rgb(102, 102, 233);
    padding: 5px 14px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .list {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
  }

  .works-head h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    color: rgb(102, 102, 233);
    margin: 0;
  }

  .works-head p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    padding: 5px;
    border: 0.5px solid rgb(211, 209, 207);
  }

  .clicks {
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  .visit {
    margin: 0 10px;
  }

  .clicks li {
    border: 1px #8993a4;
    color: #fff;
    background-color: #ff6b00;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .play-icon,
  .git-icon {
    font-size: 25px;
  }

  .form-area {
    width: 90%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .form-area .creator h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    color: #172b4d;
    line-height: 44px;
    text-align: start;
    margin: 40px auto;
  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
  }

  form input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 15px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
  }

  textarea {
    width: 100%;
    outline: 0;
    border: 0;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: #3c3a39;
  }

  .field button {
    background-color: #ff6b00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Playfair Display', sans-serif;
  }

  form button:hover {
    border-color: #f55800;
    color: #f55800;
    background-color: #fff5e1;
  }

  form button:disabled {
    border-color: #f4f1f0;
    color: #5b5957;
    background-color: #f4f1f0;
  }

  form button:active {
    color: #f4f1f0;
    background-color: #e05304;
  }

  .field button h5 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }

  .submit-error p {
    color: red;
  }

  .footer {
    text-align: center;
    font-size: 15px;
    font-family: 'Playfair Display', sans-serif;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .nav-list-mob {
    display: none;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding-right: 10px;
    font-family: 'Titillium Web, sans-serif';
  }

  .nav-list .a1 {
    border-right: 1px solid white;
  }

  .bars {
    display: none;
  }

  .nav-head {
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    height: 4rem;
    background-color: rgb(38, 35, 35);
    color: rgb(255, 255, 255);
    z-index: 10;
  }

  .nav-head h3 {
    font-style: italic;
    font-size: 28px;
    font-family: 'Titillium Web, sans-serif';
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-size: 18px;
  }

  .home {
    display: flex;
    width: 100%;
    background-color: rgb(54, 51, 51);
    gap: 3rem;
    padding-bottom: 3rem;
    padding-top: 20px;
  }

  .intro {
    background-color: rgb(54, 51, 51);
    padding: 1rem;
  }

  .myname {
    color: white; 
    font-size: 50px;
    font-family: 'Playfair Display, sans-serif';
  }

  .full-names {
    color: rgb(102, 102, 233); 
    font-family: 'Playfair Display', sans-serif;
  }

  .my-languages {
    color: rgb(102, 102, 233);
  }

  .h1 .hey {
    font-size: 45px;
    color: white;
    font-family: 'Playfair Display', sans-serif;
  }

  .intro h2 {
    color: rgb(102, 102, 233);
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #333;
    margin-top: -12rem;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    animation: typing 4s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
  }

  .into-p {
    color: white;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
  }

  .time {
    color: rgb(226, 218, 219);
    font-size: 20px;
    position: absolute;
    top: 120px;
    right: 20px;
  }

  .quote p {
    display: none;
  }

  @keyframes blink {
    0% {
      border-color: transparent;
    }

    50% {
      border-color: rgb(209, 91, 91);
    }

    100% {
      border-color: transparent;
    }
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 80%; }
  }

  @keyframes blink-caret {
    from,
    to { border-right-color: transparent; }
    50% { border-right-color: #333; }
  }

  @keyframes wave-animation {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-10deg); }
    40% { transform: rotate(12deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(9deg); }
    100% { transform: rotate(0deg); }
  }
  
  .waving {
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .socials p {
    color: rgb(102, 102, 233);
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons img {
    width: 30px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: blueviolet;
    font-size: 30px;
  }

  .picture {
    background-color: rgb(54, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }

  .picture .pic {
    width: 300px;
    border-radius: 100%;
    margin-left: 2rem;
  }

  .round-shape {
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(154, 154, 169);
    position: relative;
    bottom: 35%;
    left: 87%;
    transition: transform 0.3s ease;
    filter: blur(4px);
    z-index: 10;
  }

  .round-shape2 {
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(154, 154, 169);
    position: relative;
    top: 20%;
    right: 50%;
    transition: transform 0.3s ease;
    filter: blur(4px);
    z-index: 10;
  }

  .round-shape:hover {
    transform: scale(1.2) translateY(-25%);
  }

  .round-shape2:hover {
    transform: scale(1.2) translateY(25%);
  }

  .details p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
    color: white;
    padding: 0 4rem;
  }

  .details .stack {
    font-size: 35px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(54, 51, 51);
    border-top: 1px solid white;
  }

  .about h2 {
    font-size: 35px;
    font-family: 'Playfair Display', sans-serif;
    color: #e75b0a;
    font-weight: 700;
    text-align: center;
    background-color: white;
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
  }

  .about-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-right {
    background-color: rgb(250, 244, 244);
    border-radius: 30px;
    padding: 10px;
  }

  .about-right:hover {
    transform: scale(1) translateX(-5%);
    background-color: rgb(181, 177, 177);
  }

  .technologies-list {
    margin-left: 20px;
  }

  .list-stacks {
    list-style: none;
    color: rgb(102, 102, 233);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
  }

.fa-check-circle {
  padding-right: 10px;
  color: #e75b0a;
}

  .resume {
    background-color: #e75b0a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  .resume:hover {
    transform: scale(1.1) translateY(-8%)
  }

  .resume a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    padding: 10px;
  }

  .icon-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-container {
    width: 100%;
  }

  .proj-title {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: rgb(102, 102, 233);
    letter-spacing: 5px;
  }

  hr {
    width: 90%;
  }

  .container {
    width: 100%;
    background-image: url('./components/images/program-bg.png');
    padding: 10px 0;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    z-index: 10;
    border-radius: 2%;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card-container:hover {
    transform: translateY(-10px);
  }

  .image-div {
    width: 70%;
  }

  .image-div img {
    width: 100%;
  }

  .card-details {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .languages {
    width: 80%;
    padding: 0;
  }

  .clicks li a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
  }

  .languages .list a {
    text-decoration: none;
    border: 1px solid #8993a4;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
    background-color: rgb(102, 102, 233);
    padding: 5px 14px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: 23px;
  }

  .list {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
  }

  .works-head h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    align-items: center;
    font-size: 40px;
    color: rgb(102, 102, 233);
    margin: 0;
  }

  .works-head p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    padding-bottom: 0;
  }

  .clicks {
    padding: 0;
    width: 70%;
    display: flex;
    gap: 1rem;
  }

  .clicks li {
    border: 1px #8993a4;
    color: #fff;
    background-color: #ff6b00;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .play-icon,
  .git-icon {
    font-size: 25px;
  }

  .form-area {
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .creator {
    flex-basis: 40%;
  }

  .form-area .creator h2 {
    width: 70%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    color: #172b4d;
    line-height: 44px;
    text-align: start;
    margin: 40px auto;
  }

  .form-right {
    flex-grow: 1;
  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
  }

  form input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid grey;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    padding: 15px;
    font-size: 25px;
  }

  textarea {
    width: 100%;
    outline: 0;
    border: 0;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: #3c3a39;
  }

  .field button {
    background-color: #ff6b00;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
    width: 200px;
    height: 40px;
    text-align: center;
  }

  form button:hover {
    border-color: #f55800;
    color: #f55800;
    background-color: #fff5e1;
  }

  form button:disabled {
    border-color: #f4f1f0;
    color: #5b5957;
    background-color: #f4f1f0;
  }

  form button:active {
    color: #f4f1f0;
    background-color: #e05304;
  }

  .field button h5 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }

  .submit-error p {
    color: red;
  }

  .quote {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .quote p {
    color: white;
    font-size: 15px;
  }

  .quote h3 {
    text-align: left;
    color: rgb(102, 102, 233);
    font-family: 'Roboto', sans-serif;
  }

  .quote-p {
    margin-top: -2rem;
  }

  .devicon-babel-plain,
  .devicon-html5-plain-wordmark,
  .devicon-postgresql-plain,
  .devicon-bootstrap-plain-wordmark,
  .devicon-react-original-wordmark,
  .devicon-css3-plain,
  .devicon-sass-original,
  .devicon-redux-original,
  .devicon-javascript-plain,
  .devicon-ruby-plain-wordmark {
    font-size: 100px;
    padding-right: 20px;
    z-index: 1;
  }

  .footer {
    margin-left: 100px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
  }
}
