:root {
	--chat--color--primary: black;
	--chat--color--primary-shade-50: black;
	--chat--color--primary--shade-100: black;
	--chat--color--secondary: black;
	--chat--color-secondary-shade-50: black;
	--chat--color-white: #fff;
	--chat--color-light: #f2f4f8;
	--chat--color-light-shade-50: #e6e9f1;
	--chat--color-light-shade-100: #c2c5cc;
	--chat--color-medium: #d2d4d9;
	--chat--color-dark: #101330;
	--chat--color-disabled: #d2d4d9;
	--chat--color-typing: #404040;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
   font-family: "Roboto", sans-serif;
  }

  .picture {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
    top: 412rem;
    margin-block: 20px;
    color: black;
  }

  .pic {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .nav-list-mob {
    position: fixed;
    top: 50px;
    left: -120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 755px;
    z-index: 9999;
    padding-top: 2rem;
    background-color: #eeaa2c;
    transition: 0.5s;
  }

  .nav-list-mob.active {
    left: 0;
  }

  .arrow {
    color: white;
    position: relative;
    right: 10rem;
  }

  .nav-list-mob li {
    width: 100%;
    font-size: 25px;
    padding: 20px 0;
    list-style: none;
    border-bottom: 1px solid white;
  }

  .nav-list-mob li a {
    font-size: 27px;
    text-decoration: none;
    color: white;
    line-height: 44px;
    text-align: start;
  }

  .nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 3rem;
    position: fixed;
    width: 93%;
    border-radius: 200px;
    margin-left: 2px;
    margin-top: 5px;
    z-index: 1000;
    background-color: #eeaa2c;
  }

  .logo {
    width: 100px;
    height: 55px;
  }

  .bars {
    color: white;
    font-size: 30px;
    padding-right: 10px;
  }

  .home {
    background-color: #f09e06;
    color: white;
    padding: 50px 1rem;
    padding-top: 10px;
    background-image: url('./components/images/wasswa.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
    background-blend-mode: luminosity;
  }

  .intro h1 {
    font-size: 35px;
    margin-top: -1rem;
  }

  .intro h2 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 2rem;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(12deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(9deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .waving {
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .full-names {
    color: #227c9d;
    font-size: 32px;
    font-weight: 700;
  }

  .into-p {
    font-size: 20px;
    text-align: left;
    padding-bottom: 5px;
    font-weight: 600;
  }

  .get-contact {
    display: none;
  }

  .home-btn {
    margin-top: -20px;
  }

  .icons {
    display: flex;
    gap: 30px;
    font-size: 35px;
  }

  .icons img {
   background-color:  black;
   padding: 1px;
  }


  .about {
    padding: 2rem 1rem;
    background-color: black;
  }

  .about h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #172b4d;
  color: white;
  max-width: 200px;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-style: solid;
  border-color: #172b4d;
  border-width: 2px 4px 2px 2px;
  position: relative;
}

.about h1::after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 0;

  width: 0;
  height: 0;

  border-left: 12px solid transparent;
  border-top: 12px solid #172b4d;
}

  .about h2 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: white;
  }

  .about-left h2 {
    font-size: 38px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #f09e06;
    max-width: 15rem;
  }

  .details p {
    font-size: 20px;
    font-weight: 500;
    color: white;
  }

  .details .stack {
    font-size: 30px;
    color: #f09e06;
    display: flex;
  }

  .about-right {
    width: 100%;
  }

  .technologies-list {
    margin-left: 20px;
  }

  .list-stacks {
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-left: -3.5rem;
    gap: 10px;
    font-size: 20px;
  }

  .fa-check-circle {
    padding-right: 10px;
    color: #f09e06;
  }

  .icon-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 45px;
    margin-bottom: 30px;
  }

  .resume {
    background-color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    padding-block: 7px;
    border-radius: 100px;
    margin: auto;
    position: relative;
    top: 8rem;
   border: 2px solid white;
  }

  .resume:hover {
    transform: scale(1.2) translateY(-2%);
  }

  .resume .res {
    font-size: 25px;
    text-decoration: none;
    background: linear-gradient(black, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .projects-container {
    width: 100%;
    background-color: black;
    background-size: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .proj-title {
    text-align: center;
    font-size: 38px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    width: 95%;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 10;
    border-radius: 2%;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
    margin: 1rem;
  }

  .card-container:hover {
    transform: translateY(-10px);
  }

  .image-div img {
    width: 330px;
  }

  .card-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
  }

  .works-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .clicks li a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 17px;
    font-family: "Playfair Display", sans-serif;
  }

  .languages .list a {
    text-decoration: none;
    border: 1px solid #8993a4;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
    background-color: rgb(37, 36, 36);
    padding: 5px 14px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .list {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
  }

  .works-head h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    color: #f09e06;
    margin: 0;
  }

  .works-head p {
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    padding: 5px;
    border: 0.5px solid rgb(211, 209, 207);
  }

  .clicks {
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  .visit {
    margin: 0 10px;
  }

  .clicks li {
    border: 1px #8993a4;
    color: #fff;
    background-color: #f09e06;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .play-icon,
  .git-icon {
    font-size: 25px;
  }

  .form-area {
    width: 90%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .form-area .creator h2 {
    font-size: 28px;
    font-style: normal;
    text-align: start;
    margin: 40px auto;
  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
  }

  form input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 15px;
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
  }

  textarea {
    width: 100%;
    outline: 0;
    border: 0;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-size: 25px;
    color: #3c3a39;
  }

  .field button {
    background-color: #ff6b00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 45px;
    text-align: center;
    border-radius: 20px;
    font-family: "Playfair Display", sans-serif;
  }

  form button:hover {
    border-color: #f55800;
    color: #f8ac20;
    background-color: #fff5e1;
  }

  form button:disabled {
    border-color: #f4f1f0;
    color: #5b5957;
    background-color: #f4f1f0;
  }

  form button:active {
    color: #f4f1f0;
    background-color: #e05304;
  }

  .field button h5 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }

  .submit-error p {
    color: red;
  }

  .footer {
    text-align: center;
    font-size: 15px;
   background-color: white;
    padding-bottom: 10px;
  }

  .count-container {
    display: flex;
    justify-content: center;
    gap: 7rem;
    position: relative;
    top: -5rem;
    margin-bottom: 3rem;
  }

  .count-div2 {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid gray;
    background-color: #eeaa2c;
    padding: 8px;
    z-index: 100;
    border-radius: 10px;
  }

  .count-div1 {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
     border: 1px solid gray;
    background-color: #eeaa2c;
    padding: 8px;
    z-index: 100;
    border-radius: 10px;
  }

  .count-container p {
    font-size: 20px;
    margin: 0;
  }

  .count-container h1 {
    margin: 0;
    background: linear-gradient(black, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .main-home {
    background-color: #f09e06;
    padding-bottom: 1rem;
  }
}

.caller-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: rgb(69, 68, 68);
  }

  .copyright-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }

  .copyright {
    font-size: 20px;
  }

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
  }

  .nav-list-mob {
    display: none;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
    font-family: "Titillium Web", sans-serif;
  }

  .nav-list .a1 {
    border-right: 1px solid #172b4d;
  }

   .nav-list a:hover {
    color: #172b4d;
   }

    .nav-list a:active {
      color: #172b4d;
    }

  .bars {
    display: none;
  }

  .nav-head {
    position: fixed;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    height: 3rem;
    background-color: #eeaa2c;
    border: 1px solid rgb(26, 25, 25);
    z-index: 10;
    border-radius: 200px;
    margin-top: 2px;
  }

  .nav-head h3 {
    font-style: italic;
    font-size: 20px;
  }

  .logo {
    width: 100px;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-size: 15px;
  }

  .home {
    display: flex;
    width: 100%;
    background-color: #f09e06;
    gap: 6rem;
    padding-top: 3rem;
  }

  .intro {
    background-color: #f09e06;
    padding: 1.5rem 2rem;
  }

  .myname {
    color: white;
    font-size: 32px;
    font-style: italic;
  }

  .full-names {
    color: white;
    font-size: 32px;
  }

  .my-languages {
    color: rgb(200, 193, 193);
  }

  .h1 .hey {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
  background: linear-gradient(black, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .intro h2 {
    background: linear-gradient(black, gray);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;;
    overflow: hidden;
    white-space: nowrap;
    font-size: 26px;
    border: 1px solid gray;
    border-width: 2px 2px 2px 4px;
    padding: 4px;
    animation: typing 4s steps(40, end) infinite,
    blink-caret 0.95s step-end infinite;
  }

  .intro h2::after {
     content: "";
  position: absolute;
  top: -12px;
  right: 0;

  width: 0;
  height: 0;

  border-right: 12px solid transparent;
  border-top: 12px solid #172b4d;
  }

  .into-p {
    color: white;
    font-size: 22px;
    font-weight: 500;
  }

  .quote p {
    display: none;
  }

  @keyframes blink {
    0% {
      border-color: transparent;
    }

    50% {
      border-color: rgb(209, 91, 91);
    }

    100% {
      border-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-right-color: transparent;
    }
    50% {
      border-right-color: #333;
    }
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(12deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(9deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .waving {
    color: white;
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .socials p {
    color: rgb(102, 102, 233);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons img {
    width: 20px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: blueviolet;
    font-size: 20px;
  }

  .picture {
    background-color: #f09e06;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
  }

  .picture .pic {
    width: 400px;
    height: 380px;
    margin-left: 5rem;
    border-radius: 100px;
  }


  .home-btn {
    padding-top: 30px;
    display: flex;
    gap: 1rem;
  }

  .details p {
    font-size: 20px;
    color: white;
    padding-right: 10px;
    text-align: left;
  }

  .my-details {
     translate: -100%;
    transition: 1000ms ease;
    opacity: 0;
    color: white;
  }

  .my-details.visible {
    translate: 0;
    opacity: 1;
  }

  .details .stack {
    font-size: 35px;
    color: #f09e06;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    border-top: 1px solid white;
  }

 .about h1 {
  margin-left: 7rem;
  background-color: #172b4d;
  color: white;
  max-width: 200px;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-style: solid;
  border-color: #172b4d;
  border-width: 2px 4px 2px 2px;
  position: relative;
}

.about h1::after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 0;

  width: 0;
  height: 0;

  border-left: 12px solid transparent;
  border-top: 12px solid #172b4d;
}

  .about h2 {
    font-size: 45px;
    font-weight: 700;
    padding-left: 7rem;
    color: white;
  }

  .about h2:hover {
    color: rgb(207, 200, 200);
  }

  .about-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-right {
    background-color: #c3cad9;
    border-radius: 30px;
    padding: 10px;
  }

  .about-right:hover {
    transform: scale(1) translateX(-5%);
    background-color: rgb(181, 177, 177);
  }

  .list-stacks {
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }

  .fa-check-circle {
    padding-right: 10px;
    color: #f09e06;
  }

  .resume {
    background-color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 2rem;
  }

  .get-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
       background-color: #f5b53e;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 2rem;
    color: white;
  }
  .get-contact a {
    color: white;
  }

  .get-contact:hover {
    transform: translateX(2%);
    background-color: rgb(230, 222, 222);
  }

  .arrow-contact {
    font-size: 20px;
  }

  .get-contact li {
    list-style: none;
  }

  .res-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
  }

  .resume:hover {
    transform: translateY(-2%);
    background-color: #e5e0d9;
  }

  .resume a {
    color: #227c9d;
    font-size: 18px;
    text-decoration: none;
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    padding: 10px;
     background: linear-gradient(black, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-container {
    width: 100%;
    background-color: black;
  }

  .proj-title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: white;
  }

  hr {
    width: 90%;
  }

  .container {
    width: 100%;
    background-color: black;
    padding: 10px 0;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 10;
    border-radius: 2%;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card-container:hover {
    transform: translateY(-10px);
  }

  .image-div {
    width: 70%;
  }

  .image-div img {
    width: 100%;
  }

  .card-details {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .languages {
    width: 80%;
    padding: 0;
  }

  .clicks li a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    font-family: "Titillium Web", sans-serif;
  }

  .languages .list a {
    text-decoration: none;
    border: 1px solid #8993a4;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
    background-color: black;
    padding: 5px 14px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .list {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
  }

  .works-head h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    align-items: center;
    font-size: 30px;
    color: #f09e06;
    margin: 0;
  }

  .works-head p {
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    padding-bottom: 0;
  }

  .clicks {
    padding: 0;
    width: 70%;
    display: flex;
    gap: 1rem;
  }

  .clicks li {
    border: 1px #8993a4;
    color: #fff;
    background-color:#f09e06;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
  }

  .play-icon,
  .git-icon {
    font-size: 25px;
  }

  .form-area {
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .creator {
    flex-basis: 40%;
  }

  .form-area .creator h2 {
    width: 70%;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    color: #172b4d;
    line-height: 44px;
    text-align: start;
    margin: 40px auto;
  }

  .form-right {
    flex-grow: 1;
  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
  }

  form input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 15px;
    font-size: 25px;
  }

  textarea {
    width: 100%;
    outline: 0;
    border: 0;
    font-style: italic;
    font-size: 25px;
    color: #3c3a39;
  }

  form textarea {
    border: 1px solid gray;
    padding: 3px;
    border-radius: 5px;
  }

  .field button {
    background-color: #f09e06;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
  }

  form button:hover {
    border-color: #f09e06;
    color: white;
    background-color: #f09e06;
  }

  form button:disabled {
    border-color: #f4f1f0;
    color: #5b5957;
    background-color: #f4f1f0;
  }

  form button:active {
    color: #f4f1f0;
    background-color: #f09e06;
  }

  .field button h5 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }

  .submit-error p {
    color: red;
  }

  .quote {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .quote h3 {
    text-align: left;
    color: rgb(102, 102, 233);
    font-family: "Roboto", sans-serif;
  }

  .quote-p {
    margin-top: -2rem;
  }

  .devicon-babel-plain,
  .devicon-html5-plain-wordmark,
  .devicon-postgresql-plain,
  .devicon-bootstrap-plain-wordmark,
  .devicon-react-original-wordmark,
  .devicon-css3-plain,
  .devicon-rails-plain,
  .devicon-redux-original,
  .devicon-javascript-plain,
  .devicon-mongodb-plain,
  .devicon-nodejs-plain,
  .devicon-tailwindcss-plain,
  .devicon-ruby-plain-wordmark {
    font-size: 70px;
    padding-right: 20px;
    z-index: 1;
  }

  .footer {
    margin-left: 100px;
    font-size: 18px;
  }

  .contact-h2 {
    translate: -100%;
    transition: 2s ease;
    opacity: 0;
  }

  .contact-h2.visible {
    translate: 0;
    opacity: 1;
  }

  .caller-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: rgb(69, 68, 68);
  }

  .main-home {
    background-color: #f09e06;
    padding-bottom: 25px;
  }
  .count-container {
    display: flex;
    justify-content: center;
    gap: 25rem;
    padding-bottom: 1rem;
  }

  .count-div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    margin-right: 3.5rem;
  }

  .count-div1 p,
   .count-div2 p{
     background: linear-gradient(black, gray);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .count-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
  }

  .count-container p {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
  }

  .count-container h1 {
    margin: 0;
    color: white;

  }

  .copyright-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .copyright {
    font-size: 20px;
  }
}
